{
    "ecmaFeatures": {
        "generators": true
    },
    "env": {
        "mocha": true
    },
    "extends": "airbnb/legacy",
    "rules": {
        "indent": [2, 4],
        "func-names": 0
    }
}
