app/lambda/node_modules/*
app/lambda/config/development.json
app/lambda/config/production.json

app/installer/node_modules/*
app/installer/config/development.js
app/installer/config/production.js
app/installer/config/test.js

build/lambda/*
build/installer/*

*.pyc
