{
    "env": {
        "development": {
            "presets": [
                "es2015",
                "react",
                "react-hmre",
            ],
            "plugins": [
                "transform-runtime",
                "add-module-exports"
            ],
        },

        "production": {
            "presets": [
                "es2015",
                "react",
            ],
            "plugins": [
                "transform-runtime",
                "add-module-exports"
            ],
        },

        "test": {
            "presets": [
                "es2015",
                "react",
            ],
            "plugins": [
                "transform-runtime",
                "add-module-exports"
            ],
        }
    }
}
