body {
    background: #92a8d1;
    font-family: Lato, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 0;
}

a {
    color: #2196f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2 {
    color: rgba(255, 255, 255, 0.87);
    letter-spacing: 0px;
}

h2 {
    line-height: 28px;
}

header,
main,
footer {
    max-width: 60rem;
    margin: auto;
}

header {
    padding: 72px 24px;
    box-sizing: border-box;
    overflow: hidden;
}

header > h1,
header > h2 {
    text-align: center;
}

header > h1 {
    font-weight: 300;
    font-size: 50px;
}

header > h2 {
    font-size: 30px;
    padding-top: 19px;
    margin-bottom: 13px;
}

article {
    font-size: 20px;
    line-height: 28px;
    margin: 19px 0 13px 0;
    letter-spacing: 0px;
}

article > h2 {
    font-size: 25px;
    line-height: 28px;
    padding-top: 48px;
    margin-bottom: 25px;
}

section {
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    margin-bottom: 1rem;
    padding: 10px 20px;
}

article.present {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
}

.instruction {
    padding: 10px 20px;
    position: relative;
}

.instruction > span {
    font-size: 24px;
    display: block;
    line-height: 36px;
}

.details {
    padding: 10px 20px;
    font-size: 14px;
}

.github-button {
    border: 10px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    margin: 0px;
    padding: 5px 15px;
    line-height: 36px;
    outline: none;
    transform: translate(0px, 0px);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-decoration: none;
}

.github-button:hover {
    background-color: rgb(255, 255, 255, 0.75);
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.github-icon {
    background: url('images/github.svg') no-repeat 50% 50%;
    background-size: 75% 75%;
    width: 2rem;
    height: 2rem;
}
