body {
    background: #92A8D1;
    font-family: 'Lato', sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 60rem;
    margin: auto;
}

.github-icon {
    width: 2rem;
    height: 2rem;
    background: url('./icons/github.svg') no-repeat 50% 50%;
    background-size: 75% 75%;
    margin-bottom: 0.2rem;
}

a {
    color: rgb(33, 150, 243);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
